doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/libs/angular/angular.min.js')
    script(src='js/libs/angular-bootstrap/ui-bootstrap.min.js')
    //script(src='/js/app.js')
  body
    block content